html,
body {
  padding: 0;
  margin: 0;
  background: #f7f7f7;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.main-body {
  padding: 0 8%;
  padding-bottom: calc(8% + 185px);

  display: flex;
  flex-direction: column;

  min-height: calc(100vh - 74px);
}
