.modal {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 18px;

  background-color: #fff;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 5;
}

.modal > a {
  position: relative;
  width: 36px;
  min-width: 36px;
  height: 32px;
  min-height: 36px;
  margin: 24px;
}

.modal > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
