/* All navigation icons */

.nav-icons {
  height: 32px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 90px;
  justify-content: space-between;
}

@media (max-width: 860px) {
  .nav-icons {
    display: none;
  }
}

/* Only cart button and its children */

.cart-image {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 32px;
  height: 32px;
}

.products-counter span {
  font-size: 11px;
  line-height: 11px;

  color: white;
}

.products-counter {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #d64550;
  border-radius: 8px;
}
