.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 5;
}

.menu-bar a {
  width: 72px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-bar a p {
  font-size: 12px;
  margin: 0px;
}

@media (min-width: 861px) {
  .menu-bar {
    display: none;
  }
}
